body {
	text-align: center;
	justify-content: center;
align-items: center;
	background-color: white;
}

h1 {
	font-size: 50px;
	color: white;
	font-family: 'Caveat', cursive;
	justify-content: center;
align-items: center;
}
h2 {
	font-family: 'Montserrat', cursive;
	color: #337598;}

h3 {
	font-family: 'Montserrat', cursive;
	color: white;
}

.cadre {
	background: #3a3a3c; 
	margin: 100px; 
	padding:50px; 
	border: 5px solid ; 
	border-radius: 5px; 
	border-width: 15px ;
    border-color: #337598;
}

.billeterie {
	font-family: 'Montserrat', cursive;
	color: #337598;
}

.billeterie:hover {
	 font-weight: bold;
  text-decoration: none;
  color: #d13239;
}

.my-navbar { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3a3a3c; 
  padding: 10px; 
}

img {
	height: 80px;
	width: auto;
}

.liens {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between
}

.link {
  margin: 10px 30px;
  color: white;
}

.link:hover {
  color: #d13239;
  font-weight: bold;
  text-decoration: none;
}


.fa-calendar-check {
	color: #337598;
}

.fa-clock {
	color: #337598;
}

.fa-map-marked-alt {
	color: #337598;
}
